@charset "UTF-8";

/*
Celular: até 600px
Tablets: de 600px até 768px
Laptop: de 768px até 992px 
Desktop: de 992px até ++
*/

@media screen and (min-width: 600px) {
    .menu-toggle{
        display: none;
    }
    header{ 
        background-color: #0D0D0D;
        display: flex;
        padding: 20px;
    }
    
    #logo{
        color: #05F26C;
    }
    
    #menu { 
        display: flex; 
        margin-left: auto; 
        gap: 20px;
    }
    
    header a{
        color: #60BF89;
        text-decoration: none;
        display: inline-block;
    }
}