@charset "UTF-8";

/*
Celular: até 600px
Tablets: de 600px até 768px
Laptop: de 768px até 992px 
Desktop: de 992px até ++
*/

@media screen and (min-width: 600px) {
    .menu-toggle{
        display: none;
    }
    header{ 
        background-color: #1C2326;
        display: flex;
        padding: 20px;
    }
    
    #menu { 
        display: flex; 
        margin-left: auto; 
        gap: 20px;
    }
    
    header a{
        color: #D92938;
        text-decoration: none;
        display: inline-block;
    }
}