@charset "UTF-8";
                                    /*MOBILE FIRST*/
/*
    Cores:
preto: #0D0D0D
verde forte: #01260E
verde fraco: #60BF89
verde medio: #03A64A
verde neon: #05F26C




*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background-color: #0D0D0D;
}

/* Começo do header */

header{
    background-color: #0D0D0D;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 100;
}

header h1{
    color: #05F26C;
    text-align: left;
    margin: 5px;
}

header a{ 
    display: block;
    font-size: 1.3em;
    margin: 8px;
    color: #05F26C;
    text-align: center;
    text-decoration: wavy;
}

header a:hover{
    background-image: linear-gradient(to right, #01260E, #60BF89);
    border-radius: 25%;
    text-decoration: line-through;
    color: black;
}

.menu-toggle{ /*Configurações do menu*/
    text-align: center;
    font-size: 1.4em;
    color: white;
}

.menu-toggle:hover{
    cursor: pointer;
    background-color: #01260E;
    border-radius: 10px;
    color: #05F26C;
}

/*Fim do Header*/
.tela{
    height: 100vh;
    margin: auto;
    padding: 10px;
    padding-top: 85px;
    text-align: justify;
}

#fotoDePerfil{
    position: absolute;
    left: 0;
    bottom: 60px;
    height: 250px;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 50%;
    border: 2px solid #05F26C;
    border-top: none;
    border-left: none;
    border-right: none;
}
#fotoDePerfil:hover{
    transform: scale(1.2);
}
#eu{
    background-image: linear-gradient(to bottom, #0D0D0D, #161616);
}
#eu h1{
    text-align: center;
    padding: 10px;
    margin-bottom: 40px;
    color: #05F26C;
    text-shadow: 1px 1px 1px #60BF89;
}

#eu p{
    position: absolute;
    right: 0;
    width: 400px;
    height: 200px;
    padding: 10px;
    margin-bottom: 20px;
    color: #60BF89;
    text-align: right;
    background-color: rgba(128, 128, 128, 0);
}

#sobre{
    background-image: linear-gradient(to bottom,#161616, #01260E);
}

#sobre h2{
    color: #05F26C;
}

#sobre p{
    color: #60BF89;
}

#skills{
    background-image: linear-gradient(to bottom, #01260E, #0D0D0D);
}

#skills h2{
    color: #05F26C;
}
#skills p{
    color: #60BF89;
}