@charset "UTF-8";

/*
    Cores:
preto: #0D0D0D
verde forte: #01260E
verde fraco: #60BF89
verde medio: #03A64A
verde neon: #05F26C

*/

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

header{ 
    background-color: #0D0D0D;
    display: flex; /*Faz com q o MENU fique com a LOGO e os LINKS em linha*/
    padding: 2rem;
}

#logo{
    color: #05F26C;
}

.links { 
    display: flex; /* faz com q os LINKS fiquem em LINHA*/
    margin-left: auto; /*faz com q os links fiquem a esquerda*/
    gap: 30px;
}

header a{
    color: #60BF89;
    text-decoration: none;
}